body{
    margin: 0px;
    background-color: black;
}
h1{
    font-weight: bold;
    color:#5e09c0;
    text-align: center;
    margin: 30px 5% 20px 5%;
}
#desc{
    color: white;
    text-align: center; 
    margin: 0px 5%;
    font-size: x-large;
}
.titu{
    color: white;
    text-align: center;
    background-color: #4a1d96;
    padding: 2%;
    margin: 0px;
}
#sub{
    font-size: large;
    padding-top: .5% ;
}
.num{
    background-color: #4a1d96;
    padding: 10px;
    width: 16px;
    padding-left: 16px;
    border-radius: 20px;
}
.ctn{
    margin: 4% 5% 0px 5%;
    font-size: larger;
    border: solid #4a1d96;
    padding: 0px 1% 1% 1%;
    border-radius: 15px;
    border-width: 1px;
    /* width: 80%; */
    box-shadow: 2px 2px 20px  #494288;
    color: white;
    background-color: #161e2e;
}
.ref{
    margin-right: 3%; 
}
a{
    color: rgba(188, 140, 202, 0.877);
}



